__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.env
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
*.log
*.aux
*.bbl
*.blg
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
.DS_Store
